/tmp/
/md_shaifur_rahman_resume_internship.pdf
/md_shaifur_rahman_resume_internship.synctex.gz
/cv_3.pdf
/cv_3.synctex.gz
/Amazon_Internsip.pdf
/Amazon_Internsip.synctex
/cv_4.pdf
/cv_4.synctex
/cv_4.synctex.gz
